body {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#experiment-root {
  height: 75vmin;
  width: 75vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 100%;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  --alpha: 1;
  background-color: rgba(100, 220, 175, var(--alpha));
  /* transition: all 1.2s ease-in-out; */
}

.thm-silver {
  background-color: rgb(157, 157, 168);
  --r: 25;
  --g: 25;
  --b: 50;
}

.thm-blue {
  background-color: teal;
  --r: 100;
  --g: 220;
  --b: 175;
}

.thm-black {
  background-color: black;
  --r: 125;
  --g: 125;
  --b: 150;
}

.grid-two {
  grid-gap: 4px;
  height: 100%;
  width: 100%;
  --grid-height: 0;
  --grid-width: 0;
  display: grid;
  grid-template-rows: repeat(var(--grid-height), 1fr);
  grid-template-columns: repeat(var(--grid-width), 1fr);
  background-position: center;
  background-size: cover;
  object-fit: cover;
} 

.cell-two {
  --cell-x: 0;
  --cell-y: 0;
  --cell-v: 1;
  grid-column: calc(var(--cell-x) + 1);
  grid-row: calc(var(--cell-y) + 1);
  background-color: rgba(var(--r), var(--g), var(--b), 1);
  opacity: calc(var(--cell-v) / 1.75);
  transition: opacity 2s ease-in-out;
}